!!!
%html
  %head
    %title Necromancer | Workspace
    = stylesheet_link_tag 'workspace', :media => 'all'
    = csrf_meta_tags
    %script{ 'data-main' => '/assets/init', 'src'=> '/assets/require'}
  %body.light-theme