!!!
%html
  %head
    %title Necromancer | Workspace
    = stylesheet_link_tag    "workspace", :media => "all"
    = csrf_meta_tags
    %script{ 'data-main' => "/assets/necro", 'src'=> '/assets/require'}
  %body
