#project-list-wrapper
  #plist-item-wrapper
    - if @projects.length == 0
      .vacancy-msg No projects Found
    - else
      %ul
        - for project in @projects
          %li
            %a{ :href => "#/project/#{project.id}"}=project.name
  .axn-wrapper
    %a.axn-trigger{'data-user-action' => 'project-new'}
      New Project
