@font-face {
  font-family: 'EntypoRegular';
  src: url('/assetsentypo/entypo.eot');
  src: url('/assets/entypo/entypo.eot?#iefix') format('embedded-opentype'),
    url('/assets/entypo/entypo.woff') format('woff'),
    url('/assets/entypo/entypo.ttf') format('truetype'),
    url('/assets/entypo/entypo.svg#EntypoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'EntypoSocial';
  src: url('/assetsentypo/entypo-social.eot');
  src: url('/assets/entypo/entypo-social.eot?#iefix') format('embedded-opentype'),
    url('/assets/entypo/entypo-social.woff') format('woff'),
    url('/assets/entypo/entypo-social.ttf') format('truetype'),
    url('/assets/entypo/entypo-social.svg#EntypoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
