%menu

  %item{:id => "file", :text => "File"}
    %item{:id => "newFile", :text => "New", :img => "page_add.png"}
    %item{:id => "openFile", :text => "Open", :img => "book_open.png"}
    %item{:id => "saveFile", :text => "Save", :img => "page_save.png"}n
    %item{:id => "saveFileAs", :text => "Save As", :img => "page_save.png"}
    %item{:id => "ms1", :type => "separator"}
    %item{:id => "closeActiveTab", :text => "Close",  :img => "cancel.png"}

  %item{:id => "edit", :text => "Edit"}
    %item{:id => "undo", :text => "Undo", :img => "arrow_undo.png"}
    %item{:id => "redo", :text => "Redo", :img => "arrow_redo.png"}
    %item{:id => "ms2", :type => "separator"}

  %item{:id => "help", :text => "Help"}
    %item{:id => "showManual", :text => "Manual", :img => "book_open.png"}
    %item{:id => "showAbout", :text => "About", :img => "help.png"}
