%menu

  %item{:id => "file", :text => "File"}
    %item{:id => "new", :text => "New", :img => "page_add.png"}
    %item{:id => "open", :text => "Open", :img => "book_open.png"}
    %item{:id => "save", :text => "Save", :img => "page_save.png"}n
    %item{:id => "save_as", :text => "Save As", :img => "page_save.png"}
    %item{:id => "ms1", :type => "separator"}
    %item{:id => "close", :text => "Close",  :img => "cancel.png"}

  %item{:id => "edit", :text => "Edit"}
    %item{:id => "undo", :text => "Undo", :img => "arrow_undo.png"}
    %item{:id => "redo", :text => "Redo", :img => "arrow_redo.png"}
    %item{:id => "ms2", :type => "separator"}

  %item{:id => "help", :text => "Help"}
    %item{:id => "manual", :text => "Manual", :img => "book_open.png"}
    %item{:id => "about", :text => "About", :img => "help.png"}
