%menu
  %item{:id => "delete", :text => "Delete", :img => "page_delete.png"}
  %item{:id => "rename", :text => "Rename", :img => "page_edit.png"}
  %item{:id => "open", :text => "Open", :img => "book_open.png"}
  %item{:id => "share", :text => "Share", :img => "application_link.png"}